{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@chainsafe/babel-plugin-inline-binary-import", {
            "extensions": [
                ".wasm"
            ]
        }]
    ]
}

